@font-face {
  font-family: GillSansR;
  src: url(../images/fonts/GillSans-01.ttf);
}
@font-face {
  font-family: GillSansI;
  src: url(../images/fonts/GillSans-Italic-03.ttf);
}
@font-face {
  font-family: GillSansSBI;
  src: url(../images/fonts/GillSans-SemiBoldItalic-06.ttf);
}
@font-face {
  font-family: GillSansB;
  src: url(../images/fonts/GillSans-Bold-02.ttf);
}
@font-face {
  font-family: GillSansL;
  src: url(../images/fonts/GillSans-Light-08.ttf);
}
@font-face {
  font-family: GillSansLI;
  src: url(../images/fonts/GillSans-LightItalic-09.ttf);
}
@font-face {
  font-family: PTR;
  src: url(../images/fonts/PTSerif-Regular.ttf);
}
@font-face {
  font-family: PTI;
  src: url(../images/fonts/PTSerif-Italic.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

#app {
  margin: 0 auto;
  max-width: 1280px;
}

nav {
  height: 92px;
  width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}
nav .logowhite, nav .logoblack {
  width: 92px;
  height: 42px;
}
nav .logoblack {
  background-image: url(../images/logo/logo-black.png);
}
nav .logowhite {
  background-image: url(../images/logo/logo-white.png);
}
nav .whitetext {
  color: white;
}
nav .blacktext {
  color: black;
}
nav .links a, nav .linkshome a {
  text-decoration: none;
  margin: 0 6.75px;
  font-family: GillSansR;
  font-size: 17px;
}
nav .links .abouta, nav .linkshome .abouta {
  color: black;
}
nav span {
  color: #EE4367;
  font-size: 21.5px;
  font-family: GillSansR;
}

.navblack {
  border-bottom: 2px solid black;
}

.navwhite {
  border-bottom: 2px solid white;
}

@media all and (max-width: 1280px) and (min-width: 800px) {
  nav {
    width: 76.5%;
  }
}
footer {
  height: 455px;
  background-color: #EE4367;
  width: 1280px;
  margin: 0 auto;
  color: white;
}
footer .footer-box {
  margin: 0 auto;
  padding-top: 36px;
}
footer .footer-box .footer-logo {
  width: 92px;
  height: 42px;
  margin: 0 auto;
}
footer .footer-box .footer-contact {
  margin-top: 46px;
  text-align: center;
}
footer .footer-box .footer-subscribe {
  display: flex;
  justify-content: center;
  margin-top: 46px;
}
footer .footer-box .footer-subscribe .footer-subscribe-input input {
  width: 529px;
  height: 60px;
  background-color: #F56B88;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 20px;
}
footer .footer-box .footer-subscribe .footer-subscribe-input input ::placeholder {
  font-family: GillSansR;
  font-size: 16px;
}
footer .footer-box .footer-subscribe .footer-subscribe-submit {
  width: 167px;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #EE4367;
  font-family: GillSansR;
  font-size: 16px;
}
footer .footer-box .footer-social-media {
  width: 155px;
  margin: 31px auto 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 31px;
}
footer .footer-box .footer-social-media a {
  text-decoration: none;
  color: white;
}
footer .footer-box .footer-copyright {
  margin-top: 46px;
  text-align: center;
  font-family: GillSansR;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

@media all and (max-width: 1280px) and (min-width: 800px) {
  footer {
    width: 100%;
  }
}
.home .homeheader {
  height: 500px;
  max-width: 1280px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/home-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -92px;
  text-align: center;
  color: white;
}
.home .homeheader .title {
  padding-top: 156px;
  font-family: PTR;
  font-size: 40px;
}
.home .homeheader .subtitle {
  margin-top: 9px;
  font-family: PTI;
  font-size: 20px;
  color: #EE4367;
}
.home .homeheader .titleinfo {
  padding-top: 49px;
  font-family: PTI;
  font-size: 20px;
}
.home .homeheader .readmore {
  margin: 49px auto 0 auto;
  background-color: #EE4367;
  width: 121px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: GillSansR;
  font-size: 15px;
  text-decoration: none;
  color: white;
}
.home .ceoquote {
  height: 300px;
  background-color: white;
}
.home .ceoquote .quote {
  height: 147px;
  width: 789px;
  margin: 0 auto;
  padding-top: 77px;
}
.home .ceoquote .quote .quote-text {
  font-family: GillSansSBI;
  color: #FFD140;
  font-size: 15px;
}
.home .ceoquote .quote .author {
  margin-top: 20px;
  color: #EE4367;
  font-family: PTR;
  font-size: 15px;
}
.home .ceoquote .quote .title {
  margin-top: 5px;
  color: #A8A8A8;
  font-family: PTR;
  font-size: 10px;
}
.home .upcomingevents {
  min-height: 320px;
  background-color: #540D6E;
  color: white;
  padding-bottom: 72px;
}
.home .upcomingevents .upcomingeventsbox {
  width: 1198px;
  min-height: 199px;
  margin: 0 auto;
}
.home .upcomingevents .upcomingeventsbox .home-event-title {
  padding-top: 50px;
  font-size: 25px;
  font-family: GillSansR;
}
.home .upcomingevents .upcomingeventsbox .home-event-titlebar {
  width: 177px;
  height: 2px;
  background-color: white;
  margin-top: 10px;
}
.home .upcomingevents .upcomingeventsbox .home-event-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1198px;
  min-height: 124px;
}
.home .upcomingevents .upcomingeventsbox .home-event-box .home-event {
  width: 220px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  text-decoration: none;
  color: white;
}
.home .upcomingevents .upcomingeventsbox .home-event-box .home-event .home-event-date {
  width: 60px;
  height: 60px;
  background-color: #EE4367;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .upcomingevents .upcomingeventsbox .home-event-box .home-event .home-event-date .home-event-date-day {
  font-size: 22px;
  font-family: GillSansB;
}
.home .upcomingevents .upcomingeventsbox .home-event-box .home-event .home-event-date .home-event-date-month {
  font-size: 12px;
  font-family: GillSansL;
}
.home .upcomingevents .upcomingeventsbox .home-event-box .home-event .home-event-text {
  width: 140px;
  font-family: GillSansR;
}
.home .upcomingevents .upcomingeventsbox .home-event-box .home-event .home-event-text .home-event-text-title {
  font-size: 15px;
}
.home .upcomingevents .upcomingeventsbox .home-event-box .home-event .home-event-text .home-event-text-desc {
  margin-top: 5px;
  font-size: 13px;
  color: #EE4367;
}

@media all and (max-width: 1280px) and (min-width: 800px) {
  .home .homeheader {
    width: 100%;
  }
  .home .ceoquote .quote {
    width: 76.5%;
  }
  .home .upcomingevents .upcomingeventsbox {
    width: 76.5%;
  }
  .home .upcomingevents .upcomingeventsbox .home-event-box {
    margin: 0 auto;
    flex-wrap: wrap;
    width: 100%;
  }
}
.about {
  width: 980px;
  margin: 0 auto 95px auto;
}
.about .about-hero {
  margin-top: 85.5px;
  height: 380px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about .about-title {
  margin-top: -25px;
  font-family: GillSansR;
  font-size: 25px;
}
.about .about-title-bar {
  width: 229px;
  height: 2px;
  background-color: black;
  margin-top: 10px;
}
.about .about-text {
  margin-top: 36.5px;
  font-family: GillSansLI;
  font-size: 16px;
}

@media all and (max-width: 1280px) and (min-width: 800px) {
  .about {
    width: 100%;
  }
  .about .about-text {
    width: 76.5%;
    margin: 36.5px auto 0 auto;
  }
}
.gallery {
  min-height: 100px;
  width: 980px;
  margin: 0 auto 60px auto;
}
.gallery .gallery-title {
  margin-top: 65.5px;
  font-family: GillSansR;
  font-size: 25px;
}
.gallery .gallery-title-bar {
  width: 229px;
  height: 2px;
  background-color: black;
  margin-top: 10px;
}
.gallery .gallery-photos {
  min-height: 473px;
  width: 100%;
  margin-top: 9.5px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.gallery .gallery-photos .yellow-picture {
  margin-top: 20px;
  width: 489px;
  height: 187px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/gallery/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .gallery-photos .red-picture {
  margin-top: 20px;
  width: 187px;
  height: 187px;
  background-image: linear-gradient(rgba(238, 67, 103, 0.8), rgba(238, 67, 103, 0.8)), url(../images/gallery/2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .gallery-photos .green-picture {
  margin-top: 20px;
  width: 265px;
  height: 187px;
  background-image: linear-gradient(rgba(8, 173, 105, 0.8), rgba(8, 173, 105, 0.8)), url(../images/gallery/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .gallery-photos .purple-picture {
  margin-top: 20px;
  width: 603px;
  height: 306px;
  background-image: linear-gradient(rgba(84, 13, 110, 0.8), rgba(84, 13, 110, 0.8)), url(../images/gallery/4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .gallery-photos .teal-picture {
  margin-top: 20px;
  width: 355px;
  height: 306px;
  background-image: linear-gradient(rgba(59, 206, 171, 0.8), rgba(59, 206, 171, 0.8)), url(../images/gallery/5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (max-width: 1280px) and (min-width: 800px) {
  .gallery {
    width: 76.5%;
  }
}
.blog {
  min-height: 100px;
  width: 980px;
  margin: 0 auto 86px auto;
}
.blog .blog-title {
  margin-top: 63.5px;
  font-family: GillSansR;
  font-size: 25px;
}
.blog .blog-title-bar {
  width: 229px;
  height: 2px;
  background-color: black;
  margin-top: 10px;
}
.blog .blog-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog .blog-box-wrapper .blog-box {
  margin-top: 30.5px;
  width: 460px;
  height: 257px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}
.blog .blog-box-wrapper .blog-box .blog-date {
  width: 60px;
  height: 60px;
  background-color: #EE4367;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.blog .blog-box-wrapper .blog-box .blog-date .blog-date-day {
  font-size: 22px;
  font-family: GillSansB;
}
.blog .blog-box-wrapper .blog-box .blog-date .blog-date-month {
  font-size: 12px;
  font-family: GillSansL;
}
.blog .blog-box-wrapper .blog-box .blog-image-box {
  width: 380px;
  height: 100%;
}
.blog .blog-box-wrapper .blog-box .blog-image-box .blog-image {
  height: 140px;
  background-image: url(../images/blog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog .blog-box-wrapper .blog-box .blog-image-box .blog-title {
  margin-top: 20px;
  font-family: GillSansR;
  font-size: 15px;
}
.blog .blog-box-wrapper .blog-box .blog-image-box .blog-desc {
  margin-top: 11px;
  font-family: GillSansR;
  font-size: 13px;
  color: #EE4367;
}

@media all and (max-width: 1280px) and (min-width: 800px) {
  .blog {
    width: 76.5%;
  }
}
.blogpage {
  min-height: 100px;
  width: 980px;
  margin: 0 auto 151px auto;
}
.blogpage .blogpage-hero {
  margin-top: 55.5px;
  height: 300px;
  background-image: url(../images/blog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogpage .blogpage-hero .blogpage-hero-box {
  height: 155px;
  width: 155px;
  background-color: #EE4367;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.blogpage .blogpage-hero .blogpage-hero-box .blogpage-date-day {
  font-size: 55px;
  font-family: GillSansB;
}
.blogpage .blogpage-hero .blogpage-hero-box .blogpage-date-month {
  font-size: 31px;
  font-family: GillSansL;
}
.blogpage .blogpage-title {
  margin-top: 56px;
  color: #EE4367;
  font-family: GillSansR;
}
.blogpage .blogpage-desc {
  margin-top: 33px;
  font-family: GillSansL;
  font-size: 20px;
}

@media all and (max-width: 1280px) and (min-width: 800px) {
  .blogpage {
    width: 76.5%;
  }
}
.gallerypage {
  min-height: 100px;
  width: 980px;
  margin: 0 auto 151px auto;
}
.gallerypage .gallerypage-hero1 {
  margin-top: 50px;
  width: 980px;
  height: 400px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/gallery/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallerypage .gallerypage-hero2 {
  margin-top: 50px;
  width: 980px;
  height: 400px;
  background-image: linear-gradient(rgba(238, 67, 103, 0.8), rgba(238, 67, 103, 0.8)), url(../images/gallery/2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallerypage .gallerypage-hero3 {
  margin-top: 50px;
  width: 980px;
  height: 400px;
  background-image: linear-gradient(rgba(8, 173, 105, 0.8), rgba(8, 173, 105, 0.8)), url(../images/gallery/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallerypage .gallerypage-hero4 {
  margin-top: 50px;
  width: 980px;
  height: 400px;
  background-image: linear-gradient(rgba(84, 13, 110, 0.8), rgba(84, 13, 110, 0.8)), url(../images/gallery/4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallerypage .gallerypage-hero5 {
  margin-top: 50px;
  width: 980px;
  height: 400px;
  background-image: linear-gradient(rgba(59, 206, 171, 0.8), rgba(59, 206, 171, 0.8)), url(../images/gallery/5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallerypage .gallerypage-box-title1 {
  margin-top: -275px;
  font-size: 300px;
  font-family: GillSansR;
  color: #FFD140;
}
.gallerypage .gallerypage-box-title1 span {
  font-size: 140px;
}
.gallerypage .gallerypage-box-title2 {
  margin-top: -275px;
  font-size: 300px;
  font-family: GillSansR;
  color: #EE4367;
}
.gallerypage .gallerypage-box-title2 span {
  font-size: 140px;
}
.gallerypage .gallerypage-box-title3 {
  margin-top: -275px;
  font-size: 300px;
  font-family: GillSansR;
  color: #08AD69;
}
.gallerypage .gallerypage-box-title3 span {
  font-size: 140px;
}
.gallerypage .gallerypage-box-title4 {
  margin-top: -275px;
  font-size: 300px;
  font-family: GillSansR;
  color: #540D6E;
}
.gallerypage .gallerypage-box-title4 span {
  font-size: 115px;
}
.gallerypage .gallerypage-box-title5 {
  margin-top: -275px;
  font-size: 300px;
  font-family: GillSansR;
  color: #3BCEAB;
}
.gallerypage .gallerypage-box-title5 span {
  font-size: 140px;
}
.gallerypage .gallerypage-box {
  display: flex;
  justify-content: space-between;
}
.gallerypage .gallerypage-box-text {
  width: 450px;
  font-size: 16px;
  font-family: GillSansLI;
}

@media all and (max-width: 1280px) and (min-width: 800px) {
  .gallerypage {
    width: 76.5%;
  }
  .gallerypage .gallerypage-hero1, .gallerypage .gallerypage-hero2, .gallerypage .gallerypage-hero3, .gallerypage .gallerypage-hero4, .gallerypage .gallerypage-hero5 {
    width: 100%;
  }
  .gallerypage .gallerypage-box-title1 span, .gallerypage .gallerypage-box-title2 span, .gallerypage .gallerypage-box-title3 span, .gallerypage .gallerypage-box-title4 span, .gallerypage .gallerypage-box-title5 span {
    font-size: 70px;
  }
}
.contact {
  min-height: 100px;
  width: 980px;
  margin: 0 auto;
}
.contact .contact-title {
  margin-top: 65.5px;
  font-family: GillSansR;
  font-size: 25px;
}
.contact .contact-title-bar {
  width: 229px;
  height: 2px;
  background-color: black;
  margin-top: 10px;
}
.contact .contactbox {
  margin-top: 65.5px;
  min-height: 442px;
  display: flex;
  justify-content: space-between;
}
.contact .contactbox .contactformbox {
  width: 529px;
}
.contact .contactbox .contactformbox input, .contact .contactbox .contactformbox textarea {
  background-color: #F5F5F5;
  border: none;
  font-family: GillSansR;
  font-size: 16px;
}
.contact .contactbox .contactformbox .smallbox {
  height: 60px;
  width: 100%;
  margin-bottom: 21px;
  padding-left: 21px;
}
.contact .contactbox .contactformbox .bigbox {
  height: 199px;
  width: 529px;
  padding-left: 21px;
  padding-top: 21px;
}
.contact .contactbox .contactmap {
  width: 400px;
  height: 442px;
  background-image: url(../images/map.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact .contact-send-message {
  margin-top: 21px;
  margin-bottom: 90px;
  width: 167px;
  height: 60px;
  background-color: #EE4367;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: GillSansR;
  font-size: 16px;
}

@media all and (max-width: 1280px) and (min-width: 800px) {
  .contact {
    width: 76.5%;
  }
  .contact .contactbox {
    flex-direction: column;
    align-items: center;
  }
  .contact .contactbox .contactmap {
    margin-top: 20px;
  }
  .contact .contact-send-message {
    margin: 21px auto 90px auto;
  }
}

/*# sourceMappingURL=styles.css.map */
