// Page Width and Height

$site-width: 980px;
$banner-footer-width: 1280px;
$nav-footer-height: 92px;
$banner-height: 500px;
$tours-width: 818px;
$tours-height: 304px;
$home-form-width: 818px;

// Site Colors
$site-purple: #540D6E;
$site-red: #EE4367;
$site-yellow: #FFD140;
$site-teal: #3BCEAB;
$site-green: #08AD69;

// Buttons