.gallery{
    min-height: 100px;
    width: 980px;
    margin: 0 auto 60px auto;
    .gallery-title{
        margin-top: 65.5px;
        font-family: GillSansR;
        font-size: 25px;
    }
    .gallery-title-bar{
        width: 229px;
        height: 2px;
        background-color: black;
        margin-top: 10px;
    }
    .gallery-photos{
        min-height: 473px;
        width: 100%;
        margin-top: 9.5px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
            .yellow-picture{
                margin-top: 20px;
                width: 489px;
                height: 187px;
                background-image: linear-gradient(rgba($site-yellow,0.8),rgba($site-yellow,0.8)),url(/images/gallery/1.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .red-picture{
                margin-top: 20px;
                width: 187px;
                height: 187px;
                background-image: linear-gradient(rgba($site-red,0.8),rgba($site-red,0.8)),url(/images/gallery/2.jpeg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .green-picture{
                margin-top: 20px;
                width: 265px;
                height: 187px;
                background-image: linear-gradient(rgba($site-green,0.8),rgba($site-green,0.8)),url(/images/gallery/3.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .purple-picture{
                margin-top: 20px;
                width: 603px;
                height: 306px;
                background-image: linear-gradient(rgba($site-purple,0.8),rgba($site-purple,0.8)),url(/images/gallery/4.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .teal-picture{
                margin-top: 20px;
                width: 355px;
                height: 306px;
                background-image: linear-gradient(rgba($site-teal,0.8),rgba($site-teal,0.8)),url(/images/gallery/5.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
    }
}
@media all and (max-width:1280px) and (min-width:800px) {
    .gallery{
        width: 76.5%;
    }
}