footer{
    height: 455px;
    background-color: $site-red;
    width: $banner-footer-width;
    margin: 0 auto;
    color: white;
    .footer-box{
        margin: 0 auto;
        padding-top: 36px;
        .footer-logo{
            width: 92px;
            height: 42px;
            margin: 0 auto;
        }
        .footer-contact{
            margin-top: 46px;
            text-align: center;
        }
        .footer-subscribe{
            display: flex;
            justify-content: center;
            margin-top: 46px;
            .footer-subscribe-input{
                input{
                    width: 529px;
                    height: 60px;
                    background-color: #F56B88;
                    border: none;
                    color: rgba($color: #FFFFFF, $alpha: .5);
                    padding-left: 20px;
                    ::placeholder{
                        font-family: GillSansR;
                        font-size: 16px;
                    }
                }
            }
            .footer-subscribe-submit{
                width: 167px;
                height: 60px;
                background-color: white;
                .subscribe{
                }
            }
        }
    }


}