.blogpage{
    min-height: 1000px;
    width: 980px;
    margin: 0 auto;
    .blogpage-hero{
        height: 300px;
        background-image: url(/images/blog.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        .blogpage-hero-box{
            height: 155px;
            width: 155px;
            background-color: $site-red;
        }
    }
}